<div class="flex flex-col h-full w-full">
    <app-toolbar class="w-full">
        <div class="p-4"
             fxLayout="column">
            <div class="toolbar-content items-center"
                 fxFlex
                 fxLayout="row">
                <div>
                    <app-toolbar-logo></app-toolbar-logo>
                </div>
                <div class="w-96 mx-8"
                     fxHide.lt-sm>
                    <app-toolbar-search-input></app-toolbar-search-input>
                </div>
                <div fxFlex
                     fxLayout="row"
                     fxLayoutAlign="end">
                    <app-toolbar-item *ngIf="!user"
                                      (click)="login()">
                        <app-account-icon></app-account-icon>
                    </app-toolbar-item>
                    <app-toolbar-item *ngIf="user"
                                      [matMenuTriggerFor]="menu">
                        <app-account-icon [user]="user"></app-account-icon>
                        <mat-menu #menu>
                            <button mat-menu-item
                                    (click)="logout()">Sair</button>
                        </mat-menu>
                    </app-toolbar-item>
                </div>
            </div>
            <div class="mt-3"
                 fxHide.gt-xs>
                <app-toolbar-search-input></app-toolbar-search-input>
            </div>
        </div>
    </app-toolbar>
    <div class="flex-grow overflow-hidden">
        <router-outlet></router-outlet>
    </div>
    <app-footer></app-footer>
</div>